h1 {
  border: 3px solid black;
  padding: 25px;
}
.order-container {
  border: thin dashed purple;
  margin-left: 5%;
  margin-right: 5%;
  
  min-height: 400px;

  display: flex;
  flex-direction: column;

}