.client-container {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h1 {
    border-bottom: 3px solid black;
    padding-left: 35px;
    padding-bottom: 20px;
  }

  .edit-client {
    // border: thick dashed purple;
    padding: 20px 35px;
  
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  
    .form-heading {
      padding-bottom: 10px;
      border-bottom: thin solid black;
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 300;
    }
  
    .form {
      border: thin solid red;
      width: 32%;
      min-height: 250px;
      
      .input-wrapper {
        margin-bottom: 10px;
      }

      input, label {
        display: block;
      }

      label {
        font-size: 12px;
      }
  
      input {
        width: 97%;
        height: 36px;
        padding-left: 10px;
      }
      ::placeholder {
        color: lightgray;
        font-size: 16px;
      }
    }
    
    
  }

}
