.product-container {
  border: 3px solid black;
  
  h1 {
    border-bottom: 3px solid black;
    padding-left: 35px;
    padding-bottom: 20px;
  }
  
  .item-list {
    border: thin dashed purple;
    margin-left: 5%;
    margin-right: 5%;
    
    min-height: 400px;
  
    display: flex;
    flex-direction: column;
  
  }
}
