.item-entry {
  border-bottom: 3px solid black;
  height: 160px;
  padding-bottom: 20px;
  
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  
  .selection-wrapper {
    // border: thin solid blue;
    display: flex;
    flex-direction: column;
    
    width: 70%;
    padding-left: 35px;

    .search-wrapper {
      position: relative;
      display: flex;
      min-width: 100px;
      border-bottom: thin solid black;
      align-items: center;

      .search-icon, .arrow-right {
        width: 20px;
        height: 20px;
      }

      #product-search {
        width: 100%;
        padding: 10px;
        border: none;
      }
    }

    .dropdown-wrapper {
      form {
        border-bottom: thin solid black;
        margin: 30px 0px;
        padding: 15px 0px 5px 0px;
        height: 36px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        // align-items: center;
  
        .selection-dropdown > select {
         border: none; 
         width: 150px;
         font-size: 14px;
        }

      }
    }

    ::placeholder {
      // color: lightgray;
      font-size: 12px;
    }
  }

  .buttons-wrapper {
    border: thin solid blue;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    margin: 30px 0px;
    width: 25%;

    .add-button {
      width: 280px;
      height: 60px;
      background-color: black;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 18px;

    }
  }


}