@font-face {
  font-family: "OrLemmen-Light";
  src: local("OrLemmen-Light"),
   url("./assets/fonts/OrLemmen-Light.woff") format("truetype");
  font-weight: normal;
  }

body {
  margin: 0;
  font-family: "OrLemmen-Light";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
