.topnav {
  // border: thin solid red;
  width: 35%;
  display: flex;
  flex-flow: row wrap;

  list-style: none;

  // provide active state styling to nav bar
  // center and style links
  li {
    // border: thin solid black;
    margin-right: 25px;

  }

  a {
    color: inherit;

  }
  a:link {
    text-decoration: none;
  }
  .active {
    font-style: italic;
    text-decoration: underline !important;
  }
  
}